*{
     margin:0px; padding:0px;
 }
.control{
    width:1000px;
    margin:0 auto;
}
 #menu
 {
     border:1px solid #AED0EA;
     height:40px;
     color: #222222;
     background-color: #DEEDF7;
 }
h1{
    text-align: center;
}
ul{
    list-style:none;
}
ul li
{
    float:left;
    line-height:40px;
    text-align:center;
    position:relative;
}
a{
     text-decoration:none;
     color:#000;
     display:block;
     width:120px;
 }
a:hover
{
    color:#FFF;
    background-color:#666;
}
ul li ul li
{
    float:none;
    border-left:none;
    margin-top:2px;
    background-color:#eee;
}
ul li ul
{
    display:none;
    width:120px;
    position:absolute;
}
ul li:hover ul
{
    display:block;
}
.tab{
    background-color: #800000;
    border-top:1px solid #942A2A;
    width: 100%;
    height: 150px;
    line-height: 150px;
}
h1{
    color: #FFFFFF;
    text-align: center;
}
.position_block{
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
}
.gridtable{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #006cB2;
    vertical-align: middle;
    table-layout: fixed;
 }
.gridtable th{
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #006cB2;
    background-color: #c7dbff;
}
.gridtable td{
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #006cB2;
    overflow: hidden;
    word-wrap: break-word;
}
.form-control{
    text-align: center;
}























